@media only screen and (max-width:618px){
    #task{
        width: 90%;
        margin:auto;
        height: 45px;
    }
}
@media only screen and (max-width:800px){
    .item{
        width: 100%;
    }
}

@media only screen and (max-width:390px){
    .inputitem{
        width: 80%;
    }
}

@media only screen and (max-width:990px){
    body{
        background-image: url("../images/603dda6ab03ee9d7a2c2912b_Marketing-1.png"),
    url("../images/60be3f4f1cc5b30ec779538a_Frame\ 10.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: top left,bottom right;
    }
}